<section class="centered content">
  <header class="text-5 black">
    <img class="logo-image-md" src="/assets/images/animal-crossing-leaf.png" />
    Login
  </header>
  <p class="text-3"> Welcome back! Please log in to continue. </p>
  <form class="login-form flex-column">
    <mat-form-field>
      <mat-label>username or email</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>password</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
  <p class="text-2">
    Don't have an account?
    <span (click)="signup()" class="text-primary underline">Sign up.</span>
  </p>
  <button class="success full-width">log in</button>
</section>
