<div class="content bg-primary-light" role="main">

  <!-- Navbar -->
  <div class="navbar bg-white padding-2" role="navigation">
    <ul class="flex flex-space">
      <span class="navbar__items-left">
        <a class="text-primary bold" href="/">
          mori<span class="text-dark-grey normal">list</span>
          <img src="/assets/images/animal-crossing-leaf.png" class="logo-image-sm" />
        </a>
      </span>
      <span class="navbar__items-right flex flex-space">
        <a href="/home" class="text-dark-grey">home</a>
        <a href="/wishlist" class="text-dark-grey">wishlist</a>
        <a href="/login" class="text-dark-grey">log in</a>
        <a href="/signup" class="text-dark-grey">sign up</a>
      </span>
    </ul>
  </div>

  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
      <!-- To do: Add socials -->
      Made with ❤ by Lexi
  </footer>

</div>
