@import '../styles.scss';

.content {
  height: 100vh;
}

footer {
  position: absolute;
  box-sizing: border-box;
  bottom: 0px;
  width: 100%;
}

.navbar__items-right {
  width: 300px;
}

.navbar__item {
  border-bottom: 3px solid transparent;
  transition: border-bottom 500ms;
}

.active {
  border-bottom: 3px solid $primary;
  transition: border-bottom 500ms;
}

.logo-image {
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .navbar__items-right {
    width: 230px;
  }
}
