<div class="content bg-primary-light" role="main">

  <!-- Navbar -->
  <nav class="navbar bg-white padding-2" role="navigation">
    <ul class="flex flex-space">
      <span class="navbar__items-left text-4">
        <a class="text-primary bold" routerLink="/">
          mori<span class="text-dark-grey normal">list</span>
          <img src="/assets/images/animal-crossing-leaf.png" class="logo-image-sm logo-image" />
        </a>
      </span>
      <span class="navbar__items-right text-3 flex flex-space">
        <a routerLink="/" class="navbar__item text-dark-grey" [class.active]="onHomepage()">home</a>
        <a *ngIf="isLoggedIn()" routerLink="/wishlist" class="navbar__item text-dark-grey" [class.active]="onWishlist()">wishlist</a>
        <a *ngIf="isLoggedIn()" (click)="onLogout()" class="navbar__item text-dark-grey">sign out</a>
        <a *ngIf="!isLoggedIn()" (click)="onLogin()" class="navbar__item text-dark-grey">log in</a>
        <a *ngIf="!isLoggedIn()" (click)="onSignup()"class="signup navbar__item text-dark-grey">sign up</a>
      </span>
    </ul>
  </nav>

  <!-- Item Filters -->
  <section class="navbar bg-white filter" role="filters">
    <ul class="flex flex-center flex-wrap">
      <a routerLink="/villagers" class="filter__item"> villagers </a>
      <a routerLink="/" class="filter__item"> furniture </a>
      <a routerLink="/" class="filter__item"> clothing </a>
      <a routerLink="/" class="filter__item"> decor </a>
      <a routerLink="/" class="filter__item"> nature </a>
      <a routerLink="/" class="filter__item"> collectibles </a>
    </ul>
  </section>

  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="bg-primary-dark text-white padding-2 centered">
      Made with ❤ by
      <a target="_blank" href="https://github.com/elexia" class="text-white underline">Lexi</a>
  </footer>

</div>
