/* ******************************************** */
/*  Imports                                     */
/*  Import global styles from ./style folder    */
/* ******************************************** */

// Angular material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Themes
@import './styles/theme';

// Utilities
@import './styles/utilities';


/* ******************************************** */
/*  Reset                                       */
/*  Reset default stylings on HTML elements     */
/* ******************************************** */

body {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, div, p, a {
  font-family: Segoe UI, sans-serif;
}

a {
  text-decoration: none;
  color: $primary;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  @extend .text-3;
  border: none;
  padding: 10px 20px;
  background: $grey;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
